<app-header2></app-header2>
<section class="section-login">
 <div class="container">
    <div class="form-container">
      <form class="form" #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <h1 class="sg">SIGN UP</h1>
        <div class="form-control">
          <input type="text" class="input" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
          required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
          <div *ngIf="signUpForm.submitted && !fullName.valid">
          <label class="validation-message">This field is required.</label>
          </div>
        </div>
        <div class="form-control">
          <input type="text" class="input" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
          required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
          <div *ngIf="signUpForm.submitted && email.errors">
          <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
          </div>
        </div>
        <div class="form-control">
          <input type="password" class="input" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
          minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
          <div *ngIf="signUpForm.submitted && password.errors">
          <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
          <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
          </div>
        </div>
        <div class="success" *ngIf="showSucessMessage">
          Account Created Successfully
        </div>   
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
        <button class="btn btn-login">Sign-Up</button>
      </form>

      <div class="sign-up">
        <div>
          <h2 class="text">Already have an Account?</h2>
        </div>        
        <button class="btn btn-sign-up" [routerLink]="['/studentsignin']">Sign-in</button>
       
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>