<div class="container ">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <div class="profile-img">
          <img class="rounded-circle" width="150px" src={{userDetails.image}}>
        </div>
        <span class="font-weight-bold"> {{userDetails.fullName}}</span>
        <span class="text-black-50"> {{userDetails.email}}</span>
      </div>
    </div> 
    <div class="col-md-5 border-right">
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Name</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.fullName}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              
              <div class="p-3 mb-2 bg-light text-dark">Email</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.email}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Phone</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.phone}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Address</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.address}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Qualification</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.qualification}}</div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Passout Year</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.passout}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row ">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Skills</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.skills}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Employment Status</div>
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.employmentStatus}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
          <div class="col-md-6">
            <div class="p-3 mb-2 bg-light text-dark">Technical Training</div>
          </div>
          <div class="col-md-6">
            <div class="p-3 mb-2 bg-light text-dark">{{userDetails.techtraining}}</div>
          </div>
        </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">Course</div>              
            </div>
            <div class="col-md-6">
              <div class="p-3 mb-2 bg-light text-dark">{{userDetails.course}}</div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>


