<header class="p-3 text-bg-dark">
  <div class="container" data-spy="affix" data-offset-top="197">
    <div class="d-flex flex-wrap align-items-left justify-content-center justify-content-lg-start">
      <span class="fs-4">ICT Student Enrollment System</span>
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="60" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        
      </a>
      <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
        
      </nav>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/courses" class="nav-link px-2 text-white">Courses</a></li>
        <li><a routerLink="/features" class="nav-link px-2 text-white">Features</a></li>
        <li><a routerLink="/aboutus" class="nav-link px-2 text-white">About us</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/admin">Admin</button>
        <button type="button" class="btn btn-outline-light me-2" routerLink="/employer">Employer</button>
        <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
      </div>
    </div>
  </div>
</header> 