<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <span class="fs-4">ICT Student Enrollment System</span>
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="60" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center navbar-right mb-md-0">
        <li><a  routerLink="/employersignin" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/employersignup" class="nav-link px-2 text-secondary">Register</a></li>
      </ul>

    </div>
  </div>
  
</header>



<section class="section-login">
  <div class="container">
    <div class="form-container">
      <form class="form" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
        <h1 class="sg">EMPLOYER LOG-IN</h1>
        <div class="form-control">
          <input type="text" class="input" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
          [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
        </div>
        <div *ngIf="signInForm.submitted && email.errors?.pattern">
          <label class="validation-message">Invalid email address.</label>
        </div>
        <div class="form-control">
          <input type="password" class="input" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
            [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
        </div>
        <div *ngIf="signInForm.submitted && password.errors?.minlength">
          <label class="validation-message">Minimum 4 characters.</label>
        </div>
        <input type="submit" value="Sign In">

        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>  
        <span>
          <input type="checkbox" class="check">
          <label for="check" acceskey="a">remember me</label>
          <p>forgot your password? <a href="#">Reset password</a></p>
        </span>        
      </form>
      <div class="sign-up">
        <div>
          <h2 class="text">Don't have an Account?</h2>
        </div>
        
        <button class="btn btn-sign-up" (click)="signup()">register now</button>
      </div>

  

    </div>
  </div>
</section>