
     <div class="footer-dark">
      <footer>
        <section class="footer_one  ">
          <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-3 col-lg-3">
                  <div class="footer_contact_widget  ">
                    <h4>HEAD OFFICE</h4>
                    ICT Academy of Kerala
  L-9, Thejaswini Building
  Technopark campus
  Karyavattom-695581
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
                  <div class="footer_company_widget  ">
                    <h4>CENTRAL REGION</h4>
                    Ground Floor,Rajamally Building,
  Infopark, Koratty,
  Thrissur, Kerala, India.
  Phone: +91-481-2731050
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
                  <div class="footer_program_widget  ">
                    <h4>NORTH REGION</h4>
                    2nd Floor, 
  Ul Cyberpark Building,
  Nellikode PO, 
  Kozhikode,
  Phone: +91-495-2431432
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-3 col-lg-2">
                  <div class="footer_support_widget  ">
                    <h4>Support</h4>
                    For more details Contact us @ info@ictkerala.org
  OR reach us at 0471-2700811/12/13
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-md-3 col-lg-3">
                  <div class="footer_apps_widget  ">
                    <h4>About Us</h4>
                    ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
                  </div>
                </div>
            </div>
          </div>
        </section>
        <section class="footer_middle_area p0  ">
          <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-1 mr25 pb15 pt15">
                  <div class="logo-widget    ">
                     <img class="img-fluid" src="https://retail.ictkerala.org/pluginfile.php/1/theme_edumy/footerlogo1/1642794265/logo_ICT-Edited.png" alt="Paatshala"  style="width:100px;max-width:none!important;height:100px;max-height:none!important;" >
                    
                  </div>
                </div>
              <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 pb15 pt15">
                <div class="footer_social_widget mt15">
                  <ul>
                      <li class="list-inline-item"><a  target="_self"  href="www.facebook.com/ictkerala"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a  target="_self"  href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a  target="_self"  href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a  target="_self"  href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li class="list-inline-item"><a  target="_self"  href="#"><i class="fa fa-dribbble"></i></a></li>
                      <li class="list-inline-item"><a  target="_self"  href="#"><i class="fa fa-google"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
          <section class="footer_bottom_area pt25 pb25  ">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="copyright-widget text-center">
                    <p>Copyright © 2022 ICT Academy of Kerala. All Rights Reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
  
      </footer>
   </div>