
.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }
  

  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
  :root {
    --navbar-width: 300px;
    --color-light: #fff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    overflow: hidden;
  }
  
  .cntr,.right{
    text-align: center;
    display: flex;
    box-shadow: 0px 0px 15px 2px #1f1f1f5e;
    overflow: hidden;
  }
  aside {
    width: var(--navbar-width);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nbr {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .user-logo {
    height: 150px;
    width: 150px;
  }
  .user-logo img {
    height: 100%;
    width: 100%;
    border: 1px double #1f1f1f;
    border-radius: 50%;
  }
  a:link { text-decoration: none; 
  }
  .nbr{
    margin-left: 18px;
  }
  .nv,
  .nvul {
    width: 100%;
    text-align: center;

  }
  .nvli {
    border-radius: 15px;
    background: #e2eced;
    color: rgb(14, 14, 238);
    text-decoration: none !important;
    list-style: none;
    padding: 15px 15px;
    position: relative;
    letter-spacing: 0px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    transform: translateY(0px);
    margin-bottom: 5px;
  }
  .nvli:hover {
    background: rgb(203, 238, 87);
    letter-spacing: 1px;
    transform: translateY(1px);
    color: var(--color-light);
    font-weight: 600;
  }
  .nvli::before {
    border-radius: 15px;
    content: "";
    background: rgb(255, 217, 0);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    z-index: -1;
    transition: width 300ms ease-in-out;
  }
  
  .nvli:hover::before {
    width: 100%;
  }
  .card {
    height: 500px;
    padding: 30px;
    display: none;
    width: calc(100vw - 500px);
    color: var(--color-light);
    transform: translateX(-100%);
  }
  .card.active {
    display: block;
    animation: slide 500ms ease-in-out both;
  }
  .card .title {
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
  }
  .card .content {
    font-size: 1.5rem;
  }
  
  /* .home {
    background: #282828;
  } */
  /* .about {
    background: #11b4d1;
  } */
  .resume {
    background: rgb(30 29 26 / 75%);
  }
  .contact {
    background: rgb(15, 150, 15);
  }
  .selectedLink {
    background: linear-gradient(100deg, violet, red);
    color: var(--color-light);
    font-weight: 600;
  }
  @keyframes slide {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .main{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;

  }
  .left{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    padding: 15px;
    /* margin: 10px; */
  }
  .right{
    width: 79%;
    height: 500px;
    padding: 20px;
    margin-left: 1px;
    margin-top: 15px;
  }
  